html {
    font-family: 'FontAwesome', sans-serif;
    line-height: 36px;
    font-size: 20px;
}


/* header */

.container-header {
    height: 180px;
    overflow: hidden;
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    background-color: white;
    font-size: 20px;
    color: #0d9244;
    text-transform: uppercase;
    font-weight: normal;

    
    /* text-decoration: underline overline double; */
}

.header-item {
    padding:8px 8px;
}

.container-header div {
    margin-left: 200px;
    line-height: 180px;
    vertical-align: middle;
    width: 100%;
}


.header-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
}

.container-all {
    margin-top: 180px;
}



/* all sections */

.section-heading {
    text-align: center;
}

.section-heading h3 {
    font-size: 20px;
    color: #0d9244;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline overline double;
}

.section-heading h1 {
    font-size: 2rem;
    margin: 0.5rem;
    color: green;
}

a, :visited {
    text-decoration: none;
    color: black;
}

/* news */

.news-picture img {
    height: 200px;
    border: 2px solid green;
    padding: 20px;
}

.news-description h4 {
    color: green;
    font-size: 0.9rem;
}

.news-description p {
    font-size: 0.6rem;
}

/* gallery */


/* recipies */

.recipies{
    background-position: center;
    background-image: url(../media/images/vegiesBackground.jpg);
    opacity: 0.9;
    filter: grayscale(40%)
}

.grey-section{
    background-color: lightgray;
}