html {
    font-family: 'FontAwesome', sans-serif;
    line-height: 36px;
    font-size: 20px;
}

body { 
    margin: 0; 
}


/* header */

.container-header {
    height: 180px;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    background-color: white;
    font-size: 20px;
    color: #0d9244;
    text-transform: uppercase;
    font-weight: normal;

    
    /* text-decoration: underline overline double; */
}

.header-item {
    padding:8px 8px;
}

.container-header div {
    margin-left: 200px;
    width: 100%;
}


.header-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px; 
    height: auto;
}

.container-all {
    margin-top: 180px;
}



/* all sections */

.container-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-heading {
    text-align: center;
}

.section-heading h1 {
    font-size: 2rem;
    margin: 0.5rem;
    color: green;
}

.section-heading h3 {
    font-size: 2rem;
    color: #0d9244;
    text-transform: uppercase;
    font-weight: normal;
    /* text-decoration: underline overline double; */
    
}

.grey-section{
    background-color: lightgray;
}

a, :visited {
    text-decoration: none;
    color: black;
}

/* background */

#kids-pic img {
    width: 100%;
}

.background-text {
    width: 50%;
    margin: auto;
    text-align: justify;
}


/* news */

.news-section {
    padding-top: 10px;
    padding-bottom: 35px;
}

.news-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.news h4 {
    color: green;
    font-size: 0.9rem;
}

.news p {
    font-size: 0.5rem;
    color: black;
    line-height: normal;
}

.news-picture {
    border: 2px solid green;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.news-description {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

@media screen and (max-width: 1049px) {
    .news-description {
        width: calc(100% - 400px);
    }
}

@media screen and (min-width: 1050px) {
    .news {
        display: flex;
        flex-direction: row;
    }
    .news-item {
        width: 25%;
        flex-direction: column;
    }
    .news-description {
        height: 200px;
    }
    .news-item:nth-child(even) {
        flex-direction: column-reverse;
    }

}


/* workshop */

.workshop-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-left: 100px;
}

.workshop-details a {
    text-transform: uppercase;
}

.worshop-details-item {
    color: green;
    font-weight: bold;
    width: 100%;
}

.worshop-details-item-description {
    width: 100%;
}

@media screen and (min-width: 1049px) {
    .workshop-details {
        flex-direction: row;
        margin-left: 10px;
    }
    .worshop-details-item {
        width: 30%;
        text-align: right;
        padding-right: 40px;
    }
    .worshop-details-item-description {
        width: 60%;
    }
}


/* gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.gallery-picture {
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.gallery-picture img{
    width: 450px;
    height: 450px;
}

.image-link {
    position: absolute;
    width: 450px;
    height: 450px;
    display: flex;
}

.gallery-picture:hover .image-link {
    background-color: green;
    opacity: 80%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0;
}

@media screen and (min-width: 1260px) {
  .gallery {
    justify-content: center;
  }

  .gallery-picture {
    width: 450px;
    height: 450px;
    margin: 10px;
  }

  .gallery-picture img {
    width: 450px;
    height: 450px;
  }

  .image-link {
    width: 450px;
    height: 450px;
  }
}

/* recipies */

.recipies-section {
    height: 600px;
    background-image: url(../media/images/vegiesBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: -1
}

.recipies {
    height: 620px;
    width: 100%;
    background-color: green;
    opacity: 70%;
    position: absolute;
    top: 0px;
    color: white;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    z-index: -2
}

.recipies-section h3 {
    color: white;
    opacity: 100%;
}

.recipe {
    margin: 30px;
    text-align: center;
    padding-bottom: 50px;    
}

.recipe p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
}

.recipe img {
    top: 0px;
}


/* parents */

.container-parents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto auto;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.container-parents div{
    border: dashed green;
    width: 200px;
    height: 200px;
    padding: 10px;
    text-transform: uppercase;
    color: rgb(66, 66, 66)
}

/* organizers */


.container-organizers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto auto;
    flex-wrap: wrap;
    padding-bottom: 40px;

}

.container-organizers-wrapper{
    width: 200px;
    height: 200px;
    padding: 45px;
    text-align: center;
    font-size: 1rem;


}